/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
    margin-top: 15px;
    padding: 10px;
    // margin-top: 1.6cm;
    // margin-bottom: 1.6cm;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media print {

    @page {
        margin: 0;
    }

    .container {
        padding: 0;
        margin-top: 1.6cm;
        margin-bottom: 1.6cm;
    }

    detail {
        display: block;
    }

    header {
        display: none;
    }

    preview {
        display: none;
    }

    print-pdf {
        display: none;
    }
}